/* navigation for all pages*/
div .triangle{
  width: 0px;
  height: 0px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid black;
}
div .inner-triangle{
  width: 0px;
  height: 0px;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 40px solid white;
  position: relative;
  right: 24px;
  top:6px;

}
div .square{
  width: 50px;
  height: 50px;
  border: 4px solid black;
  background-color: white;

}
div .circle{
  width: 50px;
  height: 50px;
  border: 4px solid black;
  border-radius: 50% 50%;
  background-color: white;
}
nav{
  margin-left: 15px;
  display: block;
  width: 50px;
}
/* end of nav */

/*Body:Text rules for all pages*/

h1{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
h2{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
/*end of body*/

/*Animation of index.html*/
div .image1{
  width: 35px;
  height: 35px;
  border: 1px;
  border-radius: 50% 50%;
  margin-left:50%;
  animation: colorchange 10s infinite; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 10s infinite; /* Chrome and Safari */
}
@keyframes colorchange
{
  0%   {background: #468966;}
  20%  {background: #FFF0A5;}
  40%  {background: #FFB03B;}
  60%  {background: #B64926;}
  80%  {background: #8E2800;}
  100% {background: #468966;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #468966;}
  20%  {background: #FFF0A5;}
  40%  {background: #FFB03B;}
  60%  {background: #B64926;}
  80%  {background: #8E2800;}
  100% {background: #468966;}
}
/*End of index.html*/

/*Animation of triangle.html*/
div .image2{
  width: 0px;
  height: 0px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 40px solid grey;
  margin-left: 50%;
  animation: triangle .1s infinite;
  -webkit-animation: triangle .1s infinite;
}
@keyframes triangle {
  0%   {transform: scale(1,1);}
  10%  {transform: scale(4,4);}
  20%  {transform: scale(7,7);}
  30%  {transform: scale(10,10);}
  40%  {transform: scale(15,15);}
  50%  {transform: scale(7,7);}
  60%  {transform: scale(1,1);}
  70%  {transform: scale(.5,.5);}
  80%  {transform: scale(.1,.1;}
  90%  {transform: scale(.5,.5);}
  100% {transform: scale(1,1);}
@-webkit-keyframes triangle {
  0%   {transform: scale(1,1);}
  10%  {transform: scale(4,4);}
  20%  {transform: scale(7,7);}
  30%  {transform: scale(10,10);}
  40%  {transform: scale(15,15);}
  50%  {transform: scale(7,7);}
  60%  {transform: scale(1,1);}
  70%  {transform: scale(.5,.5);}
  80%  {transform: scale(.01,.01;}
  90%  {transform: scale(.5,.5);}
  100% {transform: scale(1,1);}
}
/*End of triangle.html*/
